@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    background-color: rgb(245, 245, 245);
}

#container {
    background-color: rgb(245, 245, 245);
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

#head {
    background-color: rgb(80, 80, 80);
    width: 100%;
    height: 10vh;
    border: 0;
    border-bottom: 0.5vw solid rgb(150, 150, 150);
    position: fixed;
    z-index: 9999;
    display: flex;
}

#head img {
    width: 7vh;
    height: 7vh;
}

#content {
    padding: 2vw 2vh;
    margin-left: 15.5vw;
    margin-top: 10vh;
    text-align: center;
    height: 80vh;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
}

#sideBar {
    border-right: 0.5vw solid rgb(150, 150, 150);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    padding-top: 13vh;
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: rgb(200, 200, 200);
}

.popup {
    display: none;
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 150px);
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    padding: 20px;
    z-index: 9999;
}

.popup-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

#communities {
    display: flex;
    flex-wrap: wrap;
}

#communityInfo {
    display: flex;
    flex-direction: column;
}

.post-box {
    min-height: 8vw;
    max-height: 20vw;
    height: auto;
    width: 80vw;
    border-radius: 8px;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    margin: 1vw;
    background-color: rgb(245, 245, 245);
    overflow-y: auto;
}

.community-box {
    height: 14vw;
    width: 14vw;
    border-radius: 8px;
    border: solid rgb(0, 0, 0);
    border-width: 1px;
    margin: 1vw;
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#communitiesSidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    margin: 0.25vw;
}

#title {
    display: flex;
    align-items: center;
    margin-left: 2vw;
}

#titleText {
    margin-left: 0.5vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    color: white;
}

#sideBar button {
    background-color: rgba(0, 0, 0, 0);
    padding: 0.5vw;
    border-style: none;
    font-size: 1.5vw;
    border-radius: 10px;
    transition: background-color 0.1s;
}

#sideBar button:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#sideBar button:active {
    background-color: rgba(0, 0, 0, 0.2);
}

textarea {
    resize: none;
}

#joinCommunity {
    position: absolute;
    left: 95vw;
    top: 90vh;
    display: none;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    font-size: 1.5vw;
    background-color: rgb(40, 220, 120);
    color: white;
    border: solid; 
    border-color: rgb(20, 160, 80);
    cursor: pointer;
    transition: background-color 0.2s'
}

#joinCommunity:hover {
    background-color: rgb(30, 180, 100);
}

#joinCommunity:active {
    background-color: rgb(20, 140, 80);
}

#postButton {
    position: absolute;
    left: 95vw;
    top: 90vh;
    display: none;
    width: 3vw;
    height: 3vw;
    border-radius: 50%;
    font-size: 0.75vw;
    background-color: rgb(40, 220, 120);
    color: white;
    border: solid; 
    border-color: rgb(20, 160, 80);
    cursor: pointer;
    transition: background-color 0.2s'
}

#postButton:hover {
    background-color: rgb(30, 180, 100);
}

#postButton:active {
    background-color: rgb(20, 140, 80);
}


#communitiesSidebar button {
    font-size: 1.25vw;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.2);
}
